html{
	width:100%;
}

body {
  padding-top: 54px;
  height: 100%;
}




.wrapper{
	min-height:100%;
	possition:relative;
}
.footer{
	possition: absolute;
	bottom: 0;
}
@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
